{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner English Course</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Advanced English Course</h1>
    <div class="container">
        <p> This advanced-level course is suitable for learners who already have a strong foundation in English and want to refine their language skills to an advanced level.</p>
        <div class="topics-container box">
            <h2>Topics Covered</h2>
            <div class="box">
                <div class="box">Advanced grammar concepts such as advanced verb forms, complex sentence structures, and reported speech</div>
                <div class="box">Idiomatic expressions, colloquialisms, and figurative language</div>
                <div class="box">Critical thinking and analysis of complex texts and discussions</div>
                <div class="box">Advanced writing skills, including formal essays, reports, and creative writing</div>
            </div>
        </div>

        <div class="objectives-container box">
            <h2>Learning Objectives</h2>
            <div class="box">
                <div class="box">Master advanced grammar concepts and usage</div>
                <div class="box">Expand knowledge of idiomatic expressions and nuanced language use</div>
                <div class="box">Develop critical thinking and analytical skills in English</div>
            </div>
        </div>

        <div class="youtube-links box">
            <h2>YouTube Links</h2>
            <div class="box">
               <div class="box"><a href="https://youtu.be/FRp5Ufi2t0k?si=WpRc0uxZ-LeSZBcV"></a>Advanced English Grammar: Reported Speech</div>
               <div class="box"><a href="https://youtu.be/T2IeJwURA74?si=75zqHMLBxXr2OEgx" >Idioms and Phrases in English</a></div>
               <div class="box"><a href="https://youtu.be/RyqFD5OAJ40?si=RSrrVdwhEZyfw7bK">Critical Thinking Skills</a></div>
               <div class="box"><a href="https://youtu.be/UiHoNctRxQE?si=A9YglLTaJ2v7NnUD">Advanced English Writing Tips</a></div>
            </div>
        </div>

        <!-- Button for taking the test -->
        <div class="take-test">
            <button><a href="advtest">Take Test</a></button>
        </div>
    </div>
</body>
</html>