{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner English Course</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Beginner English Course</h1>
    <div class="container">
        <p>This course is designed for individuals who are new to the English language and want to build a solid foundation in grammar, vocabulary, and communication skills.</p>
        <div class="topics-container box">
            <h2>Topics Covered</h2>
            <div class="box">
                <div class="box">Basic grammar rules and sentence structure</div>
                <div class="box">Common vocabulary and everyday phrases</div>
                <div class="box">Pronunciation and intonation practice</div>
                <div class="box">Introduction to essential communication skills such as greetings, introductions, and simple conversations</div>
            </div>
        </div>

        <div class="objectives-container box">
            <h2>Learning Objectives</h2>
            <div class="box">
                <div class="box">Develop a basic understanding of English grammar and vocabulary</div>
                <div class="box">Gain confidence in basic communication in English</div>
                <div class="box">Lay the groundwork for further language learning and skill development</div>
            </div>
        </div>

        <div class="youtube-links box">
            <h2>YouTube Links</h2>
            <div class="box">
               <div class="box"><a href="https://www.youtube.com/embed/AVYfyTvc9KY?si=ELS7aTbc-DPzcRMA" >English Grammar for Beginners</a></div>
               <div class="box"><a href="https://www.youtube.com/embed/qXTA756xxtU?si=iOe_AwT0ho87MvX0" >Basic English Vocabulary</a></div>
               <div class="box"><a href="https://www.youtube.com/embed/xor8h9cGtc0?si=wE-MiRJARra1uq3X" >Simple English Conversations</a></div>
               <div class="box"><a href="https://www.youtube.com/embed/hMbL3PoQJ_0?si=YUDqHkztYg9mcsGm" >English Pronunciation Practice</a></div>
            </div>
        </div>

        <!-- Button for taking the test -->
        <div class="take-test">
            <button><a href="begtest">Take Test</a></button>
        </div>
    </div>
</body>
</html>