{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beginner English Course</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Intermediate English Course</h1>
    <div class="container">
        <p> This course is designed for learners who have a basic understanding of English and are ready to take their skills to the next level. </p>
        <div class="topics-container box">
            <h2>Topics Covered</h2>
            <div class="box">
                <div class="box">Intermediate grammar topics such as verb tenses, conditionals, and phrasal verbs</div>
                <div class="box">Expanded vocabulary related to various topics and themes</div>
                <div class="box">Practice activities to improve speaking, listening, reading, and writing skill</div>
                <div class="box">Conversational practice with a focus on fluency and natural language use</div>
            </div>
        </div>

        <div class="objectives-container box">
            <h2>Learning Objectives</h2>
            <div class="box">
                <div class="box">Deepen understanding of English grammar and vocabulary</div>
                <div class="box">Improve fluency and confidence in spoken English</div>
                <div class="box">Enhance overall communication skills in different contexts</div>
            </div>
        </div>

        <div class="youtube-links box">
            <h2>YouTube Links</h2>
            <div class="box">
               <div class="box"><a href="https://youtu.be/AfBOIEROBI8?si=3j1gppJuN3WakdGD">Intermediate English Vocabulary Expansion</a></div>
               <div class="box"><a href="https://youtu.be/g-tVS78kms0?si=t7KBkgzI6tXCzGom">English Listening Practice for Intermediate Learners</a></div>
               <div class="box"><a href="https://youtu.be/qiTBaXVOHew?si=z-vDBjoOGlTm8s-o">Intermediate English Conversation Practice</a></div>
            </div>
        </div>

        <!-- Button for taking the test -->
        <div class="take-test">
            <button><a href="intertest">Take Test</a></button>
        </div>
    </div>
</body>
</html>